.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls-price {
  font-size: 18px;
  margin-right: 20px;
}

.Controls-price-value {
  font-weight: 700;
}

.Controls-price-text {
  margin-right: 15px;
}